Execute a célula a seguir e **UMA ÚNICA VEZ E NÃO ALTERE NADA!**

In [ ]:
from IPython.display import Image

NOTA = 0
q1 = False
q2 = False
q3 = False
q4 = False
q5 = False
q6 = False
q7 = False

**Questão 1 - (1,0 ponto)**

Voce começou a trabalhar em um startup super inovadora, focada em alunos em época de vestibular. Sua primeira missão é criar um modelo de previsão para prever a partir das notas dos alunos no colégio se eles serão aprovados ou não.
Por descuido, outro estagiário, não você, deletou algumas linhas do código.
Logo nessa primeira questão, você deve apenas substituir ########## pelas informações necessárioas para que o código funcione. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [32]:
try:
  import pandas as pd

  data = {'Matematica':[73, 60, 87, 100, 69],
          'português':[67, 8, 34, 43, 96],
          'biologia':[88, 12, 94, 50, 91],
          'aprovado':[1, 0, 1, 0, 1],
          }
  df = pd.DataFrame(data)
 
  if q1 == False:
    q1 = True
    NOTA += 1
  print(f"Parabéns você acertou! Sua nota até agora é {NOTA}")

except:
  print("Sua resposta ainda não está correta")

display(df)

Parabéns você acertou! Sua nota até agora é 4.5

   Matematica  português  biologia  aprovado
0          73         67        88         1
1          60          8        12         0
2          87         34        94         1
3         100         43        50         0
4          69         96        91         1

**Questão 2 - (1,5 ponto)**

Como já temos o banco de dados, df, vamos criar um modelo de regressão que preve, se o aluno irá passar ou não no vestibular. Para isso você deve substituir ########## pelo código necessário. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [37]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(df[['Matematica', 'português', 'biologia']] , df[['aprovado']])

status = reg.predict([[75, 67, 88]])
r = round(status[0][0])

if r == 1:
  if q2 == False:
    q2 = True
    NOTA += 1.5
  print(f"Parabéns você acertou! Sua nota até agora é {NOTA}\n")
else:
  print("Sua resposta ainda não está correta")

Parabéns você acertou! Sua nota até agora é 6.5

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

**Questão 3 - (2,0 pontos)**

O usuário final da nossa aplicação não saber usar uma regressão! Utilizando a regressão da questão anterior, termine a função abaixo chamada "passei" que recebe os parametros matematica, português, biologia e devolve a string "passei" ou "não-passei", de acordo com a regressão. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [36]:
def passei(Matematica, português, biologia):
  status = reg.predict([[75, 67, 88]])
  r = round(status[0][0])
  
  if r == 1:
    status = "passei"

  return status

status = passei(75, 67, 88)

status = passei(75, 67, 88)

if status == "passei":
  if q3 == False:
    q3 = True
    NOTA += 2
  print(f"Parabéns você acertou! Sua nota até agora é {NOTA}\n")
else:
  print("Sua resposta ainda não está correta")

Parabéns você acertou! Sua nota até agora é 6.5

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

**Questão 4 - (1,0 ponto)**

O seguinte link (https://opentdb.com/api.php?amount=10&category=27&type=multiple) leva a uma interessante API, com perguntas e respostas sobre qualquer assunto! Esse link, em particular traz perguntas sobre animais.
Nessa questão, você deve apenas substituir ########## pelo código necessário para fazer a chamada de API. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [26]:
import requests

resp = requests.get('https://opentdb.com/api.php?amount=10&category=27&type=multiple')

if resp.status_code == 200:
  if q4 == False:
    q4 = True
    NOTA += 1
  print(f"Parabéns você acertou! Sua nota até agora é {NOTA}")
else:
  print("Sua resposta ainda não está correta")

Parabéns você acertou! Sua nota até agora é 4.5

In [27]:
data = resp.json()
data

{'response_code': 0,
 'results': [{'category': 'Animals',
   'correct_answer': 'River Horse (Greek)',
   'difficulty': 'medium',
   'incorrect_answers': ['River Horse (Latin)',
    'Fat Pig (Greek)',
    'Fat Pig (Latin)'],
   'question': 'What does &quot;hippopotamus&quot; mean and in what langauge?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Syrian Brown Bear',
   'difficulty': 'hard',
   'incorrect_answers': ['California Grizzly Bear',
    'Atlas Bear',
    'Mexican Grizzly Bear'],
   'question': 'Which species of Brown Bear is not extinct?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Goat',
   'difficulty': 'medium',
   'incorrect_answers': ['Sheep', 'Camel', 'Llama'],
   'question': 'Cashmere is the wool from which kind of animal?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': '6',
   'difficulty': 'easy',
   'incorrect_answers': ['2', '4', '0'],
   'question': 'How many legs do butterflies have?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Pup',
   'difficulty': 'easy',
   'incorrect_answers': ['Cub', 'Chick', 'Kid'],
   'question': 'What do you call a baby bat?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Foxes',
   'difficulty': 'medium',
   'incorrect_answers': ['Pigeons', 'Bears', 'Alligators'],
   'question': 'Which animal was part of an Russian domestication experiment in 1959?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Ape',
   'difficulty': 'hard',
   'incorrect_answers': ['Lion', 'Parrot', 'Wildcat'],
   'question': 'What type of creature is a Bonobo?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Pugs',
   'difficulty': 'medium',
   'incorrect_answers': ['Bulldogs', 'Boxers', 'Chihuahua'],
   'question': 'What dog bread is one of the oldest breeds of dog and has flourished since before 400 BCE.',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Murder',
   'difficulty': 'easy',
   'incorrect_answers': ['Pack', 'Gaggle', 'Herd'],
   'question': 'What is the collective noun for a group of crows?',
   'type': 'multiple'},
  {'category': 'Animals',
   'correct_answer': 'Burrow',
   'difficulty': 'easy',
   'incorrect_answers': ['Nest', 'Den', 'Dray'],
   'question': 'What is the name of a rabbit&#039;s abode?',
   'type': 'multiple'}]}

**Questão 5 - (1,0 ponto)**

Nessa  questão, a partir das variáveis disponíveos no json acima, você deve substituir ########## para que seja printado na tela o **tipo** de questão e a sua respectiva **categoria**. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [28]:
tipo = data['results'][0]['type']
categoria = data['results'][0]['category'] 
print(f"O tipo selecionado é {tipo}")
print(f"A categoria selecionada é {categoria}")

if tipo == 'multiple' and categoria == 'Animals':
  if q5 == False:
    q5 = True
    NOTA += 1
  print(f"Parabéns você acertou! Sua nota até agora é {NOTA}")
else:
  print("Sua resposta ainda não está correta")

O tipo selecionado é multiple
A categoria selecionada é Animals
Parabéns você acertou! Sua nota até agora é 4.5

**Questão 6 - (1,5 ponto)**

Agora que você já entendeu como acessar as variáveis dessa API, podemos construir o banco de dados! Para isso você deve substituir ########## pelo código necessário para que o data frama, chamado df seja impresso na tela. **NÃO MECHA EM NENHUMA OUTRA PARTE DO CÓDIGO!**

In [29]:
import pandas as pd

lista = []
i = 1 

while i <= 10:
  resp = requests.get("https://opentdb.com/api.php?amount=10&category=27&type=multiple")
  data = resp.json()

  for q in data['results']:
    values = {"category" : "0",
          "correct_answer" :"1",
          "difficulty": "2",
          "incorrect_answers" :"3",
          "question" : "4",
          "type" : "5"        
        }
    values["category"] = q["category"]
    values["correct_answer"] = q['correct_answer']
    values["difficulty"] = q["difficulty"]
    values["incorrect_answer"] = q["incorrect_answers"]
    values["question"] = q['question']
    values["type"] = q['type']
    lista.append(values) 
 
  i += 1

df = pd.DataFrame(lista)
display(df)

,category,correct_answer,difficulty,incorrect_answers,question,type,incorrect_answer
0,Animals,Nuts,medium,3,"A carnivorous animal eats flesh, what does a n...",multiple,"[Nothing, Fruit, Seaweed]"
1,Animals,Goat,medium,3,Cashmere is the wool from which kind of animal?,multiple,"[Sheep, Camel, Llama]"
2,Animals,Keratin,medium,3,What are rhino&#039;s horn made of?,multiple,"[Bone, Ivory, Skin]"
3,Animals,Hyaenidae,hard,3,What scientific family does the Aardwolf belon...,multiple,"[Canidae, Felidae, Eupleridae]"
4,Animals,Pup,easy,3,What do you call a baby bat?,multiple,"[Cub, Chick, Kid]"
...,...,...,...,...,...,...,...
95,Animals,"Tasmania, Australia",medium,3,The now extinct species &quot;Thylacine&quot; ...,multiple,"[Baluchistan, Pakistan, Wallachia, Romania, Or..."
96,Animals,Murder,easy,3,What is the collective noun for a group of crows?,multiple,"[Pack, Gaggle, Herd]"
97,Animals,Mad Cow disease,medium,3,What is the common term for bovine spongiform ...,multiple,"[Weil&#039;s disease, Milk fever, Foot-and-mou..."
98,Animals,28,easy,3,How many teeth does an adult rabbit have?,multiple,"[30, 26, 24]"
99,Animals,Burrow,easy,3,What is the name of a rabbit&#039;s abode?,multiple,"[Nest, Den, Dray]"

**Questão 7 - (2,0 pontos)**

Caso você seja azarado o suficiente para tudo que você estudou não tenha caido em nenhuma das opções anteriores, seus problemas acabaram! Formule e responda uma questão **RELEVANTE** sobre a matéria. Essa questão deve ser respondida através de códgio! A pontuação irá variar de **0.0 a 2.0 pontos** dependendo da relevância e **claro**, do fato a questão ser respondida corretamente.  **(2,0 ponto)**

re

In [42]:
#Biblitecas
import requests
import pandas as pd
#---------------------------------------

r = requests.get('https://api.scryfall.com/cards/random')
data  = r.json()
data['prices']['usd']

values = {'name': ['0'], 
          'oracle_id':['1'],
          'oracle_text':['2'],
          'mana_cost': ['3'],
          'prices_usd': ['4']}

values['mana_cost']

values['name'][0] = 'a'
values['oracle_id'][0] = 'b'
values['oracle_text'][0] = 'c'
values['mana_cost'][0] = 'd'
values['prices_usd'][0] = 'e'

values

values['name'][0] = data['name']
values['oracle_id'][0] = data['oracle_id']
values['oracle_text'][0] = data['oracle_text']
values['mana_cost'][0] = data['mana_cost']
values['prices_usd'][0] = data['prices']['usd']

myData = pd.DataFrame.from_dict(values)

myData

,name,oracle_id,oracle_text,mana_cost,prices_usd
0,Girder Goons,655961a3-94b5-4600-b9f1-f93163d03a49,"When Girder Goons dies, create a tapped 2/2 bl...",{4}{B},0.08